<h1>Login</h1>
<div>
  <% if flash[:notice] %>
    <p id="notice"><%= flash[:notice] %></p>
  <% end %>
  <%= form_tag do %>
    <fieldset>
      <legend>Log In Here</legend>
      <div>
        <label for="email">Email</label>
        <%= text_field_tag :email, params[:email] %>
      </div>
      <div>
        <label for="password">Password</label>
        <%= password_field_tag :password, params[:password] %>
      </div>
      <div>
        <%= submit_tag "Login" %>
      </div>
    </fieldset>
  <% end %>
</div>
<%= link_to 'ユーザー登録', new_new_user_path %>