<div align=center><h1><%= image_tag "mypage.png",  alt: "MyPage" %></h1></div>

<p><%= link_to "新しいセッションを開始する", new_t_session_path %></p>

<h2>新規セッション</h2>
<% unless @new_sessions.empty? -%>
  <%= render partial: 'show_session', locals: {sessions: @new_sessions} %>
<% else -%>
新規セッションはありません
<% end -%>

<h2>募集中のセッション</h2>
<% unless @recruitment_sessions.empty? -%>
  <%= render partial: 'show_session', locals: {sessions: @recruitment_sessions} %>
<% else -%>
募集中のセッションはありません
<% end -%>

<h2>参加中のセッション</h2>
<% unless @progress_sessions.empty? -%>
  <%= render partial: 'show_session', locals: {sessions: @progress_sessions} %>
<% else -%>
参加中のセッションはありません
<% end -%>

<h2>過去のセッション</h2>
<% unless @closed_sessions.empty? -%>
<table border=2>
  <%= render partial: 'show_session', locals: {sessions: @closed_sessions} %>
<% else -%>
過去に参加した参加中のセッションはありません
<% end -%>
