<h1>T Logs index</h1>
<% if @current_player.character_id != 0 && !@current_player.character.name -%>
<p>キャラクターの名前を設定してください<p>
<% end -%>
<div align="right"><%= button_to '更新する', {action: 'index', redirect: 'to_index'}%></div>

<div id="floor">
  <% #左画面 -%>
  <div id="left-box">
    <%= render partial: 'trpg_form' %>
    <%= render partial: "roll_dice" %>
    <% if @current_player.player_type == 'Game Master' %>
      <%= render partial: 'create_npc' %>
    <% end -%>
  </div>
  <% #左画面ここまで -%>

  <% #右画面 -%>
  <div id="right-box">
    <%= render partial: 'trpg_chat_body' %>
  </div>
  <% #右画面ここまで -%>
</div>